<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>thong.account.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>thong.account.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>thong.account.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertController</servlet-name>
        <servlet-class>thong.account.controllers.InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>thong.account.controllers.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>thong.account.controllers.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>thong.account.controllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>thong.account.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServiceController</servlet-name>
        <servlet-class>thong.service.controllers.MainServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceController</servlet-name>
        <servlet-class>thong.service.controllers.AddServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceController</servlet-name>
        <servlet-class>thong.service.controllers.SearchServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceController</servlet-name>
        <servlet-class>thong.service.controllers.DeleteServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServiceController</servlet-name>
        <servlet-class>thong.service.controllers.EditServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceController</servlet-name>
        <servlet-class>thong.service.controllers.UpdateServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainRoomController</servlet-name>
        <servlet-class>thong.room.controllers.MainRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomController</servlet-name>
        <servlet-class>thong.room.controllers.AddRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRoomController</servlet-name>
        <servlet-class>thong.room.controllers.SearchRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomController</servlet-name>
        <servlet-class>thong.room.controllers.DeleteRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoomController</servlet-name>
        <servlet-class>thong.room.controllers.EditRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoomController</servlet-name>
        <servlet-class>thong.room.controllers.UpdateRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutRoomController</servlet-name>
        <servlet-class>thong.room.controllers.LogoutRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServiceController</servlet-name>
        <servlet-class>thong.service.controllers.LogoutServiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertController</servlet-name>
        <url-pattern>/InsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServiceController</servlet-name>
        <url-pattern>/MainServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceController</servlet-name>
        <url-pattern>/AddServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceController</servlet-name>
        <url-pattern>/SearchServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceController</servlet-name>
        <url-pattern>/DeleteServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServiceController</servlet-name>
        <url-pattern>/EditServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceController</servlet-name>
        <url-pattern>/UpdateServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainRoomController</servlet-name>
        <url-pattern>/MainRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomController</servlet-name>
        <url-pattern>/AddRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRoomController</servlet-name>
        <url-pattern>/SearchRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomController</servlet-name>
        <url-pattern>/DeleteRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoomController</servlet-name>
        <url-pattern>/EditRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoomController</servlet-name>
        <url-pattern>/UpdateRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutRoomController</servlet-name>
        <url-pattern>/LogoutRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServiceController</servlet-name>
        <url-pattern>/LogoutServiceController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
